/*#grid:cursorWall > *:hover{*/
/*   -fx-fill: black;*/
/*}*/

#grid > *:cursorWall{
    -fx-fill: black;
}

#grid > *:cursorDestination{
    -fx-fill: red;
}

#grid > *:cursorPath{
    -fx-fill: white;
}

#grid > *:cursorSource{
    -fx-fill: blue;
}

/*#grid:cursorDestination > *:hover {*/
/*    -fx-fill: red;*/
/*}*/
/*#grid:cursorPath > *:hover {*/
/*    -fx-fill: white;*/
/*}*/

/*#grid:cursorSource > *:hover {*/
/*    -fx-fill: green;*/
/*}*/

/*#grid > *:hover {*/
/*    -fx-fill: purple;*/
/*}*/

/*.wall {*/
/*    -fx-background-color: red;*/
/*}*/

CustomCell {
    -fx-background-color: blue;
}

/*Cell:hover {*/
/*    -fx-background-color: red;*/
/*}*/

/*#algorithmLabel:hover {*/
/*    -fx-background-color: green;*/
/*}*/

Label:cursorWall {
    -fx-background-color: green;
}
